<div class="artists-grid">
    {{#each albumsKey}}
    <div>
        <h1 class="artist-name">{{{this.name}}}</h1>
        <img class="artist-img" src="{{this.images.0.url}}">
        {{!-- .0. is the same as [0] to access the array. .0. is used on handle bars --}}
        <a class='view-albums' href="/tracks/{{this.id}}">Tracks</a>
    </div>

    {{/each}}
</div>