{{#each artistInfo}}
<h1>{{{this.name}}}</h1>
<img src="{{this.images.0.url}}"> 
{{!-- .0. is the same as [0] to access the array. .0. is used on handle bars --}}
<br>
<br>
<a href="/albums/{{this.id}}">View Albums</a>
{{/each}}


    