<html id = bgImg>
<h1 id="headerHome">SEARCH FAVORITE <span>ARTIST</span></h1>

<div id ="bgW"> 
<form action="/artist-search" method="GET">
<label  for='artist'></label>
<input id="searchStyle" type="text" name="artist">
<br>
<br>
<br>
<button type="submit">Search for an Artist</button>
</form>
</div>
</html>
 